# Node modules
node_modules/

venv/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local
**/.env
**/.env.local
**/.env.*.local

# Frontend build output
/frontend/dist

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Temporary files
*.tmp
*.temp

# Web scraping files
/web-scraping/run_scraper.sh
/web-scraping/scraper.log

